.dialogs {
    border: 1px solid rgba(255,0,0,.2);
}

.content_dialogs {
    display: flex;
}

.dialogs_list {
    display: block;
    width: 30%;
    box-sizing: border-box;
    padding: 30px 10px;
}

.messages_list {
    width: 70%;
    box-sizing: border-box;
    padding: 30px 10px 30px 30px;
    display: flex;
    flex-flow: column;
}